body.contact {
    background-image: url(images/sea.jpg);
    background-color: #cccccc;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


nav {
    background-color: #296e77;
    padding:35px; 
}

/* Style for the navigation links */
nav ul {
    list-style-type: none; 
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    color: #fff; 
}

#digicard {
    text-decoration: none;
    color: #165c65;
}

.skills td, .skills th, .education td, .education th{
    border:2px solid black;
    padding: 10px;
}

.skills th, .education th {
    height: 50px;
    background-color: rgb(80, 80, 80);
    color: white;
}

.skills, .education{
    height: 400px;
    margin: 10px;
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}



table {
    width: 100%;
    table-layout: fixed;
}

.header-main {
    text-align: center;
}

div.form {
    display: flex;
    justify-content: center;
    background-color: hsl(188, 26%, 83%);
    border: 2px solid #266a74;
    width: fit-content;
    margin: auto;
    padding: 5px 50px;
    font-size: large;
}
